
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="#" routerLinkActive="active">TasaWak</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping">Shopping <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">{{cart.getTotalCounter}}</span></a>
        </li>
        <li ngbDropdown *ngIf="appUser  else showLogin" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{appUser.name}}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a ngbDropdownItem *ngIf="!appUser.isAdmin" class="dropdown-item" routerLink="/orders">My Orders</a>
            <ng-container *ngIf="appUser.isAdmin">
            <a ngbDropdownItem class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            </ng-container>
            <a ngbDropdownItem class="dropdown-item" (click)="logout()" routerLink="/shopping">Log Out</a>
          </div>
        </li>
        <ng-template #showLogin>
          <a class="nav-link" routerLink="/login">Login</a>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
